.bg-img {
    min-height: 400px;
}

.hero-banner {
    font-size: 56px;
    font-weight: 700;
}

.hero-paragraph {
    font-size: 28px;
}

.input-group {
    padding-top: 15px;
}

.form-control {
}

#search-button {
    font-size: 15px;
    color: white;
    padding: 13px;
    margin-right: 80px;
}

.josefin-sans-700, .carousel {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-right: 15px;
    text-decoration: none;
}
