
.josefin-sans-700, .nav-item {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    padding-right: 15px;
    color: #183558;
    text-decoration: none;
}

.navbar-brand {
    padding-right: 40px;
}

.nav-item {
    text-decoration: none;
}